<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data</h2>
    <table border="1">
        <tr>
            <th>S.N</th>
            <th>Full Name</th>
            <th>address</th>
            <th>email</th>
            <th>course</th>
            <th>department</th>
            <th>sports</th>
            
        </tr>
        <%
          <!-- console.log(userData.length); -->
       
        for (var i =1; i <=userData.length; i++ ) { 
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=userData.first_name %></td>
            <td><%=userData.address %></td>
            <td><%=userData.email %></td>
            <td><%=userData.Mycourses %></td>
            <td><%=userData.departmentName %></td>
            <td><%=userData.sportsName %></td>
        </tr>
        <%  } %>
       
    </table>
    </div>
     <div> 
       

         
         
     </div>
</body>
</html>